.Footer {
  background-color: #2C3930; 
  width: 100%;
  margin: 0;
  position: fixed; 
  bottom: 0;
  z-index: 1000; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding: 0.5rem 0; 
}

.Footer p {
  color: #DCD7C9; 
  font-size: 8pt; 
  font-weight: 300; 
  margin: 0;
  letter-spacing: 0.1rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center; 
}
@media (max-width: 1023px) {
.Footer {
    position: relative;
}
}