/* Geral */
body {
  font-family: 'Quattrocento', sans-serif;
  background-color: #FBF8F2;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px;
}
h1, h2 {
  font-family: 'Oswald';
  font-size: 32px;
  text-align: center;
  margin-top: -0.5vh;
  color: #FBF8F2;
  letter-spacing: 1px;
  
}
.app {
  width: 100%;
  margin: 0 auto;
  display: grid;
}



/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #394e40;
  color: #FBF8F2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}
.header .logo {
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
  padding-left: 10vh;
  letter-spacing: 2px;
}
#lua {
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}
.nav-links {
  display: flex;
  gap: 2vh;
  padding-right: 10vh;
  transition: max-height 0.3s ease;
}
.nav-links a {
  letter-spacing: 2px;
  text-decoration: none;
  color: #FBF8F2;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}
.nav-links a:hover {
  color: #bbd3bd;
}
.theme-toggle {
  background: none;
  border: none;
  color: #FBF8F2;
  font-size: 24px;
}
.menu-toggle {
  display: none;
}



/* Main Content */
.main-content {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2vw;
  padding: 10vh 5vw;
  margin-top: 5vh;
}
.left-section {
  display: grid;
  grid-template-rows: auto auto; 
  gap: 2vw;
}
.about {
  background-color: #394e40;
  color: #FBF8F2;
  padding: 2vh;
  border-radius: 30px;
  -webkit-box-shadow: 14px 19px 26px -14px rgba(39,56,28,0.6);
  -moz-box-shadow: 14px 19px 26px -14px rgba(39,56,28,0.6);
  box-shadow: 14px 19px 26px -14px rgba(39,56,28,0.6);
  
}
.about p {
  text-align: justify;
  text-indent: 5vh;
}
li {
  list-style-type: none;
  text-align: left;
  color: #FBF8F2;
}
li:hover{
  color:#3A483B;
}
.right-section {
  display: grid;
}
.gallery-row {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2vw;
}
.gallery-block {
  background-color: #78967a;
}

.gallery-block, .carousel-block {
  padding: 2vh;
  border-radius: 30px;
  text-align: center;
  -webkit-box-shadow: 14px 19px 26px -14px rgba(39,56,28,0.6);
  -moz-box-shadow: 14px 19px 26px -14px rgba(39,56,28,0.6);
  box-shadow: 14px 19px 26px -14px rgba(39,56,28,0.6);
}
.carousel-block {
  color:#FBF8F2;
  width: 90vh; 
  height: 70vh; 
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  overflow: hidden;
  background-color: #6f8170; 
}

.carousel {
  width: 100%;
  height: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center;    
  overflow: hidden;
  padding-bottom: 2vh;
}

.carousel img {
  max-width: 100%; 
  max-height: 100%; 
  width: auto; 
  height: auto; 
  object-fit: contain; 
  background-color: #FBF8F2;
}




/* Responsividade */
@media (max-width: 1625px) {
  .main-content {
    display: flex;
    flex-direction: column; 
    gap: 2vh; 
    padding: 5vh 2vw; 
  }

  .left-section,
  .right-section {
    width: 100%; 
  }

  .gallery-row {
    grid-template-columns: 1fr; 
  }

  .gallery-block, .about{
    margin-bottom: 3vh; 
  }

  .carousel-block {
    width: 91%; 
    height: auto; 
    margin: 0 auto;
  }

  .carousel {
    height: 50vh; 
  }

  .about p {
    text-indent: 2vw; 
    font-size: 16px; 
  }

  h1, h2 {
    font-size: 24px; 
    margin-top: 1vh;
  }

  li {
    font-size: 16px; 
  }



  #lua {
    display: none;
  }

  .header .logo {
    font-size: 24px; 
  }

  .header{
    width: 102%;
  }

  .nav-links {
    position: absolute;
    top: 5vh;
    background-color: #394e40; 
    padding: 10px; 
    display: none;
    width: 100%;
    flex-direction: column; 
    gap: 10px; 
  }
  .nav-links a {
    margin-left: 9vh;
    text-align: left;
    color: #FBF8F2;
    text-decoration: none;
  }
  .nav-links.open {
    display: flex;
  }

  .menu-toggle {
    display: block; 
    position: absolute;
    right: 1vh;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: poQuattrocento;
    color: #FBF8F2;
  }
}
